<div class="container">

    <h1>Gráficos Dinámicos <small>Angular</small></h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Gráfico de linea</h4>
            <app-linea></app-linea>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Gráfico de barra</h4>
            <app-barra></app-barra>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Gráfico de dona</h4>
            <app-dona></app-dona>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Gráfico de radar</h4>
            <app-radar></app-radar>
        </div>
    </div>
</div>